'comment': 'MadX'
'name': 'MadX'
'scopeName': 'source.madx'
'fileTypes': [
  'madx'
  'seq'
]
'patterns': [
  {
    'begin': '!'
    'end': '\\n'
    'name': 'comment.line.madx'
  }
  {
    'begin': '//'
    'end': '\\n'
    'name': 'comment.line.madx'
  }
  {
    'begin': '/\\*'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.begin.madx'
    'end': '\\*/'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.comment.end.madx'
    'name': 'comment.block.madx'
  }
  { 'include': '#numbers' }
  {
    'match': '==|<>|<|>|<=|=>'
    'name': 'keyword.operator.comparison.c'
  }
  {
    'match': '(?i)\\b(?<!\\.)(const)\\b'
    'name': 'storage.modifier.madx'
  }
  {
    'match': '(?i)\\b(?<!\\.)(real|int)\\b'
    'name': 'storage.type.madx'
  }
  {
    'match': '(?i)\\b(?<!\\.)(if|elseif|else|while|macro)\\b'
    'name': 'keyword.control.madx'
  }
  {
    'begin': '''(?xi)\\b(?<!\\.)
      (help|show|value|option|exec|set|system|title|use|select|twiss|call|cycle|assign|print|
      printf|renamefile|copyfile|removefile|create|delete|readtable|readmytable|write|setvars|
      setvars_lin|setvars_knob|setvars_const|fill|fill_knob|shrink|beam|resbeam|show|seqedit|
      install|move|removereplace|extract|save|dumpsequ)
      (\\s*\\,)
    '''
    'beginCaptures' :
      '1': 'name': 'keyword.control.madx'
      '2': 'name': 'punctuation.madx'
    'patterns': [
      { 'include': '#attributes' }
      { 'include': '#numbers' }
      { 'include': '#strings' }
    ]
    'end': ';'
    'endCaptures' :
      '0': 'name': 'punctuation.madx'
  }
  {
    'match': '(?i)\\b(?<!\\.)(exit|quit|stop|flatten|reflect|endedit|clear)\\b'
    'name': 'keyword.control.madx'
  }
  {
    'match': '''(?xi)\\b(?<!\\.)
      (pi|twopi|degrad|raddeg|e|emass|pmass|nmass|mumass|clight|qelect|hbar|erad|prad)
      \\b'
    '''
    'name': 'constant.language.madx'
  }
  { 'include': '#math' }
  {
    'match': '(?i)\\b(?<!\\.)(table|tabindex|tabstring|gettab|getidx)\\b'
    'name': 'support.function.madx'
  }
  { 'include': '#strings' }
  {
    'match': ';'
    'name': 'punctuation.terminator.statement.madx'
  }
  {
    'match': ','
    'name': 'punctuation.separator.delimiter.madx'
  }
  # {
  #   'match': '\\b([a-zA-Z][a-zA-Z0-9\\_\\.]*)\\b'
  #   'name': 'variable.other.madx'
  # }
]
'repository':
  'attributes':
    'match': '''(?xi)\\b(?<!\\.)
      (append|bborbit|class|clear|column|debug|echo|echomacro|file|flag|format|full|info|
      no_fatal_stop|pattern|period|range|rbarc|reset|sequence|slice|start|survey|sympl|tell|text|thick|
      thin_foc|threader|to|
      trace|twiss_print|value|verbose|verify|warn)
      \\b
    '''
    'name': 'variable.other.madx'
  'strings':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.madx'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.madx'
        'name': 'string.quoted.double.madx'
        'patterns': [
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.madx'
          }
        ]
      }
      {
        'begin': '\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.madx'
        'end': '\''
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.madx'
        'name': 'string.quoted.single.madx'
        'patterns': [
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.madx'
          }
        ]
      }
    ]
  'numbers':
    'match': '\\b([0-9]+\\.*[0-9]*|[0-9]+[eE][\\+\\-]*[0-9]+)\\b'
    'name': 'constant.numeric.decimal.madx'
    'captures':
      '1':
        'name': 'punctuation.separator.decimal.period.madx'
      '2':
        'name': 'punctuation.separator.decimal.period.madx'
  'math':
    'match': '''(?xi)\\b(?<!\\.)
      (sqrt|log|log10|exp|sin|cos|tan|asin|acos|atan|sinh|cosh|tanh|sinc|abs|erf|erfc|
      floor|ceil|round|frac|ranf|gauss|tgauss)
      \\b
    '''
    'name': 'support.function.madx'
    
    
    